<app-menu></app-menu>
<div class="inventory-container">
  <button
    class="btn btn-primary"
    (click)="openAddInventoryModal(addInventoryTemplate)"
  >
  <i class="fa-solid fa-plus"></i> Add Inventory
  </button>
  <ng-template #addInventoryTemplate>
    <div class="modal-body">
      <h3>Add New Inventory</h3>
      <form (ngSubmit)="addInventory()">
        <div class="form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            class="form-control"
            [(ngModel)]="newInventory.name"
            name="name"
            required
          />
        </div>
        <div class="form-group">
          <label for="description">description:</label>
          <input
            type="text"
            id="description"
            class="form-control"
            [(ngModel)]="newInventory.description"
            name="description"
            required
          />
        </div>
        <button type="submit" class="btn btn-success">Add</button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="modalRef?.hide()"
        >
          Cancel
        </button>
      </form>
    </div>
  </ng-template>
  <div
    class="inventory-card"
    *ngFor="let inventory of inventories"
    (click)="viewInventory(inventory)"
    (keypress)="viewInventory(inventory)"
  >
    {{ inventory.name }}
  </div>
</div>
